<div class="bg-primary p-2 text-white" [class.bg-warning]="editing"
     [class.text-dark]="editing">
    <h5>{{editing  ? "Изменить" : "Создать"}} Пользователя</h5>
</div>
<form novalidate #form="ngForm" (ngSubmit)="save(form)">
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" name="name" [(ngModel)]="user.name" />
    </div>
    <div class="form-group">
            <label>Фамилия</label>
            <input class="form-control" name="surname" [(ngModel)]="user.surname" />
    </div>
    <div class="form-group">
            <label>Email</label>
            <input class="form-control" name="email" [(ngModel)]="user.email" />
    </div>
    <div *ngIf="!editing" class="form-group">
            <label>Пароль</label>
            <input class="form-control" name="password" [(ngModel)]="user.password" type="password" />
    </div>
    <div class="form-group">
            <label>Дата рождения</label>
            <input class="form-control" type="date" name="birth" [ngModel]="user.birth | date:'yyyy-MM-dd'" 
            (ngModelChange)="user.birth = $event" />
    </div>
    <div class="form-group">
        <label>Изображение</label>
        <input class="form-control" type="file" (change)="imgLoaded($event)" />
    </div>
    <button type="submit" class="btn btn-primary" [class.btn-warning]="editing">
        {{editing ? "Сохранить" : "Создать"}}
    </button>
    <button type="reset" class="btn btn-secondary" routerLink="/admin/main/users">
        Вернуться
    </button>
</form>