<div class="module-loader" *ngIf="loading">
    <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<div *ngIf="!loading">
<table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th class="text-center">№</th>
                        <th class="text-center">Название</th>
                        <th class="text-center">Описание</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of directions; let i = index">
                        <td class="text-center">{{i + 1}}</td>
                        <td class="text-center">{{d.name}}</td>
                        <td class="text-center">{{d.description}}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-success"
                                    [routerLink]="['/admin/main/directions/info', d.id]">
                                Подробнее
                            </button>
                            <button class="btn btn-sm btn-warning"
                                    [routerLink]="['/admin/main/directions/edit', d.id]">
                                Изменить
                            </button>
                            <button class="btn btn-sm btn-danger" (click)="deleteDirection(d.id)">
                                Удалить
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" routerLink="/admin/main/directions/create">
                Создать новое направление
</button>
</div>