/*.btn-primary {
    color: #fff;
    background-color: #4dc3c0 !important;
    border-color: #007bff !important;
}*/
.btn-primary[_ngcontent-c5] {
    color: #fff;
    background-color: #4dc3c0 !important;
    border-color: #4dc3c0 !important;
}

.btn-outline-primary {
    color: #4dc3c0;
    border-color: #4dc3c0;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #4dc3c0;
    border-color: #4dc3c0;
}

.btn-outline-primary:active {
    color: #fff;
    background-color: #43a7a4 !important;
    border-color: #43a7a4 !important;
}

.btn-outline-primary:visited{
    border-color: #fff !important;
}


