<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th class="text-center">№</th>
            <th class="text-center">Id пользователя</th>
            <th class="text-center">Id направления</th>
            <th class="text-center">Id роли</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of administration; let i = index">
            <td class="text-center">{{i + 1}}</td>
            <td class="text-center">{{a.userId}}</td>
            <td class="text-center">{{a.directionId}}</td>
            <td class="text-center">{{a.administrationRoleId}}</td>
            <td class="text-center">
                <button class="btn btn-sm btn-success"
                        [routerLink]="['/admin/main/administrations/info', a.userId, a.directionId]">
                    Подробнее
                </button>
                <button class="btn btn-sm btn-warning"
                        [routerLink]="['/admin/main/administrations/edit', a.userId, a.directionId]">
                    Изменить
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteAdministration(a.userId, a.directionId)">
                    Удалить
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" routerLink="/admin/main/administrations/create">
    Создать нового администратора
</button>
