<div class="bg-primary p-2 text-white" [class.bg-warning]="editing"
     [class.text-dark]="editing">
    <h5>{{editing  ? "Изменить" : "Создать"}} тип блока</h5>
</div>
<form novalidate #form="ngForm" (ngSubmit)="save(form)">
    <div class="form-group">
        <label>Название</label>
        <input class="form-control" name="name" [(ngModel)]="blockType.name" />
    </div>
    <button type="submit" class="btn btn-primary" [class.btn-warning]="editing">
        {{editing ? "Сохранить" : "Создать"}}
    </button>
    <button type="reset" class="btn btn-secondary" routerLink="/admin/main/blockTypes">
        Вернуться
    </button>
</form>