<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th class="text-center">№</th>
            <th class="text-center">Название</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of blocks; let i = index">
            <td class="text-center">{{i + 1}}</td>
            <td class="text-center">{{b.name}}</td>
            <td class="text-center">
                <button class="btn btn-sm btn-success"
                        [routerLink]="['/admin/main/blocks/info', b.id]">
                    Подробнее
                </button>
                <button class="btn btn-sm btn-warning"
                        [routerLink]="['/admin/main/blocks/edit', b.id]">
                    Изменить
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteBlock(b.id)">
                    Удалить
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" routerLink="/admin/main/blocks/create">
    Создать новый блок
</button>
